/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'BebasNeue';
    src: url('original_BebasNeue.eot?#iefix') format('embedded-opentype'), 
         url('original_BebasNeue.woff') format('woff'),
         url('original_BebasNeue.ttf') format('truetype'),
         url('original_BebasNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}